body {
    background: black;
    color: cadetblue;
    margin:0px;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 100;
}
header {
 border-bottom: solid rgb(128,0,0) 5px;
 padding: 15px;
 font-size: 45px;
 color:whitesmoke;
}
.amongas{
background: radial-gradient(rgba(255, 255, 255, 0.678), rgb(53, 52, 52));
padding-bottom: 55px;
padding-top:10px ;
display:flex;
justify-content: center;
}

.amongas-sus{
margin-right: 30%;

}
h1{
    font-size: 40px;
}
p {
    font-size: 20px;

}
h2{
   color:royalblue;
   margin-top: 60px ;
}


.outros-vidros{
display:flex; 
overflow-x: auto;
gap: 2px;  
}

.vidros{
    padding-left:20px ;
    padding-right:20px ;
}

.outros-vidros img{
    opacity:0.5 ;
    height: 300px ;
}

.outros-vidros img:hover{
    opacity:7000 ;
    height: 350px ;
    border: 2px solid white;
}